// font-size
$font-size-small: .28rem;
$font-size-middle: .3rem;
$font-size-large: .32rem;

// color
$background-image: linear-gradient(-9deg, #097962 0%, #0eb391 100%), linear-gradient(#48c5ab, #48c5ab);

// box-shadow
$box-shadow1: 0px 5px 15px 1px rgba(2, 0, 0, 0.15);
$box-shadow2: 0px 5px 15px 1px rgba(2, 0, 0, 0.06);