@import './mixins';
.my{
    height: 100%;
    padding-bottom: 1.26rem;
    .top{
        width: 100%;
        height: 3.74rem;
        background-image: $background-image;
    }
    .main{
        width: 6.7rem;
        background: #fff;
        box-shadow: $box-shadow2;
        border-radius: .1rem;
        margin: 0 auto;
        margin-top: -1rem;
        .person_info{
            font-size: .4rem;
            position: relative;
            height: 1.6rem;
            padding-top: .2rem;
            .img{
                width: 1.4rem;
                height: 1.4rem;
                background: #fff;
                border-radius: 100%;
                box-shadow: $box-shadow2;
                position: absolute;
                top: -.5rem;
                left: .5rem;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            p{
                margin-left: 2.3rem;
            }
        }
        ul{
            margin: 0 .3rem;
            margin-bottom: .7rem;
            li{
                @include flex;
                font-size: $font-size-large;
                padding-bottom: .6rem;
                &.version .right{
                    color: #999;
                }
                .left i{
                    display: inline-block;
                    margin-right: .2rem;
                    margin-bottom: -.06rem;
                    &.sign_1{
                        width: .32rem;
                        height: .36rem;
                        @include background_img("~@/assets/images/my/sign_1.png");
                    }
                    &.sign_2{
                        width: .32rem;
                        height: .28rem;
                        @include background_img("~@/assets/images/my/sign_2.png");
                    }
                    &.sign_3{
                        width: .27rem;
                        height: .35rem;
                        @include background_img("~@/assets/images/my/sign_3.png");
                        margin-left: .05rem;
                    }
                    &.sign_4{
                        width: .32rem;
                        height: .33rem;
                        @include background_img("~@/assets/images/my/sign_4.png");
                    }
                    &.sign_5{
                        width: .32rem;
                        height: .36rem;
                        @include background_img("~@/assets/images/my/sign_5.png");
                    }
                }
                .right i{
                    display: inline-block;
                    width:.32rem;
                    height: .32rem;
                    @include background_img("~@/assets/images/my/arrow.png");
                    margin-bottom: -.06rem;
                }
            }
        }
    }
}